.course.card-body {
    width: 15vw;
}

.course.card-body.card-title{
    width: 100%;
}

.course .card-body .card-text{
    height: 5vw;
}

.course .card-footer {
    background-color: inherit;
}

.course .card-footer .footer-text{
    margin: 0%;
}

.selected {
    background-color: #e1bee7;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.course:hover{
    cursor: pointer;
}
